@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


:root {
  /* Colors
  ___________________*/
  --color-primary: #7a49fe;
  --color-primary-dark: #7016ff;
  --color-primary-lighten: #c8b6fa;
  --color-gradient: linear-gradient(121.77deg, #7141fb 13.51%, #4b14e8 174.68%);
  --color-secondary: #212736;
  --color-secondary-dark: #1d2230;
  --color-gray: #747474;
  --color-gray-light: #b8bbc7;
  --color-gray-lighten: #f6f8fe;
  /* --color-gray-lighten: #d6f0ff; */
  --color-white: #fff;
  --color-title: #3f396d;
  --color-border: #2b3142;

  /* Font & Typography
  ___________________*/
  --font-family-primary: "Rubik", sans-serif;
  /* font sizes */
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2rem;
  --fs-xl: 2.4rem;
  --fs-xxl: clamp(2.4rem, 5vw, 4.2rem);
  --fs-biggest: clamp(3.2rem, 5vw, 5.8rem);
  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* z-index
  ___________________*/
  --zindex-fixed: 1000;
  --zindex-menu: 1010;

  /* With & Height 
  ------------------*/
  --width-container: 110rem;
  --height-header: 8rem;
  --height-header--scroll: 8rem;

  /* Transition and box shadow*/
  --transition: 0.4s ease-in-out;
  --shadow-primary: 0 0 85px 0 #e9eefc;
  --shadow-secondary: 0px 30px 60px 2px rgba(0, 0, 0, 0.1);
  --shadow-header: 0px 2px 5px rgba(0, 0, 0, 0.05);

  /* border-radius */
  --b-radius: 1.5rem;

  --link-size: 4.5rem;
  --trans-props: all 0.3s ease;
}

/* CSS Reset
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: var(--color-title);
  font-weight: var(--fw-bold);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  height: 100%; */
}

body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  /* border-radius: 21rem; */
  /* margin-left: 3rem; */
}

input,
textarea,
button {
  font: inherit;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: var(--color-gray);
}

main {
  overflow: hidden;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  color: var(--color-gray);
  margin-top: var(--height-header);
  height: 3000px;
  width: 100%;
  overflow-x: hidden;
}

/* Dark Theme 
--------------------------------------------------------------*/
.dark-theme {
  background-color: var(--color-secondary);
  color: var(--color-gray-light);
  --color-title: #fff;
  --shadow-header: 0px 5px 10px rgba(0, 0, 0, 0.09);
}

.dark-theme .section__title {
  color: #1d2230;
}

.dark-theme .section__title__color {
  color: #fff;
}

.dark-theme .header,
.dark-theme .nav__menu {
  background-color: var(--color-secondary);
}

.dark-theme .section-bg {
  /* background-color: var(--color-secondary-dark); */
  background-image: linear-gradient(#000, #212736);
}

.dark-theme .bg-blue-50 {
  background-color: #fff;
}

.dark-theme .footer__name,
.dark-theme .footer__link {
  color: #1d2230;
}

.dark-theme .footer-bg {
  background-color: #fff;
}

.dark-theme .nav__menu {
  border-color: var(--color-secondary-dark);
}

.dark-theme .social__link {
  background-color: var(--color-secondary-dark);
  color: var(--color-title);
}

.dark-theme .skills__card,
.dark-theme .form__input {
  background-color: var(--color-secondary);
  box-shadow: none;
}

.dark-theme .form__input::placeholder {
  opacity: 0.3;
}

.dark-theme::-webkit-scrollbar {
  background-color: var(--color-gray);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-light);
}

/* Reausable CSS Classes
--------------------------------------------------------------*/
.container {
  width: 90%;
  max-width: var(--width-container);
  margin: auto;
}

.responsive {
  width: 100%;
  height: auto;
}

.section {
  padding: 8rem 0;
}

.section-bg {
  /* background-color: var(--color-gray-lighten); */
  background-image: linear-gradient(#d6f0ff, #fff);
}

.section__header {
  max-width: 50rem;
  margin: auto;
  text-align: center;
  padding-bottom: 5rem;
}

.section__title {
  font-size: var(--fs-xxl);
  margin: 0.5rem 0 1.5rem;
}

.section__title__color {
  font-size: var(--fs-xxl);
  margin: 0.5rem 0 1.5rem;
}

.section__subtitle {
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
  color: var(--color-primary);
}

.d-grid {
  display: grid;
  gap: 3rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 1.8rem 3rem;
  border-radius: var(--b-radius);
  color: var(--color-white);
  font-weight: var(--fw-medium);
  transition: var(--transition);
}

.btn i {
  font-size: 2rem;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: var(--color-primary-dark);
}

.max-w-screen {
  max-width: 1280px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-4 {
  padding: 1rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.-top-4 {
  top: 5rem;
  left: 82.5%;
}

.right-24 {
  right: 6rem;
}

.h-16 {
  width: auto;
}

.w-auto {
  max-width: 100%;
  height: 100px; 
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg-blue-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(214,240,255,var(--tw-bg-opacity));
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.text-center {
  text-align: center;
}
/* Header
--------------------------------------------------------------*/
.header {
  background-color: var(--color-white);
  box-shadow: var(--shadow-header);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: var(--height-header);
  z-index: var(--zindex-menu);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__brand {
  color: var(--color-title);
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: 'Rancho', cursive;
}

.nav__buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  color: var(--color-title);
  transition: var(--transition);
}

.theme__toggle,
.nav__toggle {
  cursor: pointer;
  right: 10%;
}

.theme__toggle:hover,
.nav__toggle:hover {
  color: var(--color-primary);
}

.nav__link {
  color: var(--color-title);
  transition: var(--transition);
}

.nav__link:hover {
  color: var(--color-primary);
}

/* Mobile menu */ 
@media screen and (max-width: 968px) {
  .nav__menu {
    background-color: var(--color-white);
    border-top: 0.2rem solid var(--color-gray-lighten);
    position: fixed;
    right: -100%;
    bottom: 0;
    width: 100%;
    min-height: calc(100vh - var(--height-header));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
  }

  .nav__menu--open {
    right: 0;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .nav__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    padding: 2rem;
    border-radius: var(--b-radius);
  }

  .nav__icon {
    font-size: 2.4rem;
  }

  .nav__link--active {
    background: var(--color-gradient);
    color: var(--color-white);
  }
}

/* Home
--------------------------------------------------------------*/
.home {
  margin-bottom:100px; 
}

.home__name {
  color: #b116ff;
  font-family: 'Rancho', cursive;
}

.home__wrapper {
  min-height: calc(100vh - var(--height-header));
  align-content: center;
  justify-content: center;
  padding-top: 2rem;
}

.home__content {
  /* max-width: 50rem; */
  text-align: center;
  bottom: 35rem;
  /* position: relative; */
  /* max-width: 100%; */
  min-height: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.home__title {
  font-size: var(--fs-biggest);
  margin-bottom: 2rem;
  font-family: 'Rancho', cursive;
}

.home__description {
  margin-bottom: 3rem;
}

.home__content .social {
  margin-top: 3rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social__title {
  font-family: 'Rancho', cursive;
  font-size: 3rem;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  column-gap: 2rem;
  gap: 1rem;
}

/*** Containers and icons ***/
.social__link {
  display: flex;
  font-size: 2rem;
  position: relative;
  overflow: hidden; /* Trim branded overlays */
  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;
  background-color: var(--color-gray-lighten);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  transition: var(--trans-props);
}

.social__link i {
  margin: auto; /* Perfect centering thanks to parental flex */
  font-size: 2rem;
  color: hsl(212, 16%, 48%);
  z-index: 1; /* Make sure icons will be on top */
  transition: var(--trans-props);
}

/*** Branded overlays from the bottom ***/

.social__link:after {
  content: '';
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  transform: translate(0, var(--link-size));
  border-radius: 50%;
  transition: var(--trans-props);
}

.social__link.twitter:after {
  background-color: #1da1f2;
}

.social__link.github:after {
  background-color: #24292e;
}

.social__link.linkedin::after {
  background-color: #0072b1;
}

.social__link.facebook::after {
  background-color: #4267B2;
}

.social__link.instagram:after {
  background-image: linear-gradient(
    to bottom left,
    #4f5bd5,
    #962fbf,
    #d62976,
    #fa7e1e,
    #feda75
  );
}

/*** Animations ***/

.social__link:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.social__link:hover i {
  transform: scale(1.1);
  color: #fff;
}

.social__link:hover:after {
  transform: translate(0) scale(1.2);
}

/* .social__link {
  background-color: var(--color-gray-lighten);
  width: 4.5rem;
  font-size: 2rem;
  height: 4.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
} */

/* .social__link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
} */

@media screen and (max-width: 768px) {
  .home__img {
    width: 28rem;
    align-items: center;
  }
}

/* .imgbox {
  position: relative;
  width: 100%;
  height: 100%;
} */

/* .imgbox .home__img {
  position: relative;
  height: 100%;
  width: calc(100% - 80px);
  top: -50px;
  right: 50px;
  animation: animateUser 4s linear infinite;
}

@keyframes animateUser {
  50% {
    right: 30px;
    top: -25px;
  }
} */

/* About
--------------------------------------------------------------*/
.about__wrapper {
  justify-items: center;
}

.about__content {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__img {
  border-radius: var(--b-radius);
}

/* Skills
--------------------------------------------------------------*/
.skills__content {
  width: 100%;
  max-width: 40rem;
  justify-self: center;
  margin-bottom: 3rem;
}

.skills__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-semibold);
  text-align: center;
  margin-bottom: 5rem;
}

.skills__content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 3rem;
}

.skills__card {
  background-color: var(--color-white);
  display: grid;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: var(--b-radius);
  box-shadow: var(--shadow-primary);
  transition: var(--transition);
}

.skills__card:hover {
  box-shadow: var(--shadow-secondary);
  transform: scale(1.1);
}

.skills__img-wrapper {
  justify-self: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__img {
  width: 2.5rem;
  height: 2.5rem;
}

.skills__name {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  color: var(--color-title);
  transition: var(--transition);
}

.skills__card:hover .skills__name {
  color: var(--color-primary);
}

/* Portfolio
--------------------------------------------------------------*/
.portfolio__project {
  position: relative;
  width: 100%;
  max-width: 35rem;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--b-radius);
}

.portfolio__info {
  position: absolute;
  bottom: -100%;
  padding: 3rem;
  transition: var(--transition);
}

.portfolio__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  color: var(--color-white);
  margin-bottom: 1rem;
}

.portfolio__description {
  margin-bottom: 2rem;
  color: var(--color-white);
}

.portfolio__link {
  position: absolute;
  top: 2rem;
  right: -100%;
  width: 5rem;
  height: 5rem;
  background-color: var(--color-white);
  color: var(--color-title);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  transition: var(--transition);
}

.portfolio__link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.portfolio__overlay {
  background-color: var(--color-secondary);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: var(--transition);
}

.portfolio__project:hover .portfolio__overlay {
  opacity: 0.8;
}

.portfolio__project:hover .portfolio__info {
  bottom: 0;
}

.portfolio__project:hover .portfolio__link {
  right: 2rem;
}

/* Contact
--------------------------------------------------------------*/
.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact__form {
  width: 100%;
  max-width: 40rem;
  justify-self: center;
  display: grid;
  gap: 3rem;
}

.form__label {
  display: block;
  margin-bottom: 1rem;
}

.form__input {
  background-color: var(--color-white);
  box-shadow: var(--shadow-primary);
  border: .1rem solid transparent;
  width: 100%;
  padding: 1.8rem 2.5rem;
  color: var(--color-gray);
  border-radius: var(--b-radius);
  transition: var(--transition);
}

.form__input::placeholder {
  color: var(--color-gray-light);
}

.form__input:focus {
  border-color: var(--color-primary);
}

.form__textarea {
  resize: none;
  height: 20rem;
}

.contact__form .btn {
  justify-self: center;
}

.contact__content {
  background: var(--color-primary) var(--color-gradient);
  padding: 5rem 3rem;
  width: 100%;
  max-width: 40rem;
  border-radius: var(--b-radius);
  justify-self: center;
  gap: 5rem;
}

.contact__info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact__icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.1rem solid var(--color-gray-lighten);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: var(--color-gray-lighten);
}

.contact__title {
  margin-bottom: 1rem;
  font-weight: var(--fw-semibold);
  color: var(--color-white);
}

.contact__description {
  color: var(--color-gray-lighten);
}

/* Footer
--------------------------------------------------------------*/
.footer {
  background-color: var(--color-secondary);
  padding: 8rem 0 3rem;
}

.footer__content {
  text-align: center;
  margin-bottom: 5rem;
}

.footer__name {
  font-size: 4rem;
  color: var(--color-white);
  margin-bottom: 5rem;
  font-family: 'Rubik', sans-serif;
  font-family: 'Shantell Sans', cursive;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3.5rem;
}

.footer__link {
  color: var(--color-gray-light);
  transition: var(--transition);
}

.footer__link:hover {
  color: var(--color-primary);
}

/* .footer__content .social__link {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
} */

/* .footer__content .social__link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
} */

.footer__copyright {
  /* border-top: 0.2rem solid var(--color-border); */
  border-top: 0.2rem solid #ffffff65;
  padding-top: 3rem;
  text-align: center;
  font-size: var(--fs-sm);
  color: var(--color-gray-light);
}

/* ScrollTop
--------------------------------------------------------------*/
.scrolltop {
  position: fixed;
  bottom: -100%;
  right: 5rem;
  background-color: var(--color-primary);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: var(--color-white);
  z-index: var(--zindex-fixed);
  animation: scrolltopAnimation 2s linear infinite;
  transition: var(--transition);
  visibility: hidden;
}

.scrolltop--show {
  bottom: 5rem;
  visibility: visible;
}

@keyframes scrolltopAnimation {
  0% {
    box-shadow: 0px 0px 0px 10px rgb(113 67 245 / 99%);
  }

  100% {
    box-shadow: 0px 0px 0px 40px rgb(113 67 245 / 1%);
  }
}

/* Scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--color-gray-lighten);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

/* Breakpoints
--------------------------------------------------------------*/
/* @media screen and (min-width: 480px) {
  .counter__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media screen and (min-width: 768px) {
  .home__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  .home__content {
    text-align: center;
  }

  .home__content .social {
    justify-content: center;
  }

  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__content {
    text-align: initial;
  }

  .about__img {
    order: -1;
  }

  .skills__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__wrapper {
    grid-template-columns: repeat(2, 28rem);
    justify-content: center;
  }

  .contact__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .contact__content {
    order: -1;
  }
}

@media screen and (min-width: 968px) {
  .nav__menu {
    margin-left: auto;
    margin-right: 3rem;
  }

  .nav__list {
    display: flex;
    column-gap: 4rem;
  }

  .nav__toggle, .nav__icon {
    display: none;
  }

  .nav__link {
    position: relative;
  }

  .nav__link::before {
    position: absolute;
    content: "";
    background: var(--color-gradient);
    width: 100%;
    height: 0.4rem;
    bottom: -3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: var(--transition);
    transform: scaleX(0);
  }

  .nav__link--active {
    color: var(--color-primary);
  }

  .nav__link--active::before {
    transform: scaleX(1);
  }

  .portfolio__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Preloader
--------------------------------------------------------------*/
.loaderImage {
  width: 500px;
  margin-top: -130px;
}

.notLoaded {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  margin: 0px;
}

#loader {
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------- Parallax Scrolling ---------------*/
.parallax__img {
  /* position: relative; */
  max-width: 100%;
  width: fit-content;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.parallax__img::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #fff, transparent);
  z-index: 10;
}